:root {
  --h1Color: black;
  --primary-color: white;
  --button: white;
  --modalcolor: pink;
}


body {
  margin: 50px;
  background-color: var(--primary-color);;
}

h1 {
  color: var(--h1Color);
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Quattrocento', serif;
}

article p {
  align-items: center;
}

#studentsMain article{
  align-items: start;
}
select#theme {
  background-color: var(--button);
  border: 5px solid;
  border-color: var(--h1Color);
  font-family: 'Quattrocento', serif;
}

#theme-changer {
  color: var(--h1Color);
  font-family: 'Quattrocento', serif;
}
article {
  background-color: white;
}

@supports (display: grid) {
  #studentsMain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
}

/*MODAL*/

.hide {
  display: none;
}
.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
  background-color: var(--modalcolor);
  margin: 1em;
  padding: 2em;
}


[houseStyle="hufflepuff"] {
  --primary-color: #ecb939;
  --h1Color: #726255;
}

[houseStyle="gryffindor"] {
  --h1Color: #FFC500;
  --primary-color: #7F0909;
}

[houseStyle="ravenclaw"] {
  --h1Color: #946b2d;
  --primary-color: #222f5b;
}

[houseStyle="slytherin"] {
  --h1Color:#AAAAAA;
  --primary-color: #2a623d;
}



